.Zebra_Tooltip {
	background: 0 0;
	position: absolute;
	z-index: 8000;
}

.Zebra_Tooltip .Zebra_Tooltip_Message {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(100, 100, 100, .6);
	color: #02213e;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 0px;
	position: relative;
	text-align: left;
	top: -10px;
	border: 0px solid #317cc5
}


.Zebra_Tooltip .Zebra_Tooltip_Close:hover {
	color: #fff;
	background: #317cc5;
	border-radius: 0px;
	position: relative;
}
